<div class="container">
  <div class="list-title">
    <h1><%= current_user.first_name %>'s lists </h1>
    <%= link_to new_list_path %>
  </div>
  <hr>

  <div class="lists">
    <% @lists.each do |list| %> 
      <%= link_to list_path(list) do %>
        <div class="card-product">
          <%= cl_image_tag (list.products.first.photo.key) %>
          <div class="card-product-infos">
            <h2><%= list.name %></h2>
          </div>
        </div>
      <% end %> 
    <% end %>
  </div>
</div>



