<div class="container">
  <div class="list-title">
    <h2><%= current_user.first_name %>'s lists </h2>
    <%= link_to "Create new list", new_list_path, class: "btn-terciary" %>
  </div>
  <hr>

  <div class="list-index-cards">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <div class="list-index-card">
          <h3><%= list.name %></h3>
          <p><%= pluralize list.products.count, " product"%> </p>
          <div class="list-imgs">
            <% if list.product_ids.length > 0 %>
              <% list.products[0..2].each do |product| %>
                <%= cl_image_tag (product.photo.key), width: 90, height: 90, crop: :fill  %>
              <% end %>
            <% end %>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>
</div>
