<div class="container py-5 text-center">
  <h1 class="header">Find out how to <span class="green-highlight">recycle</span></h1>
  <p class="head-text">Search for a specific product based on where you live.</p>
</div>
<div class="container form-home">
    <%= form_tag products_path, method: :get do %>
  <!-- STARTS FORM STYLE -->
  <div class="form-row align-items-end justify-content-center">

      <!-- STARTS PRODUCT FIELD -->
      <div class="col-md-6 col-lg-4">
        <div class="d-flex">
          <label class="">Enter product name or UPC code</label>
          <div class="pl-1">
            <a href="" class="css-tooltip" data-tooltip="Universal Product Code, 12 numeric digits" >
            <svg id="btn-tooltip" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
            </svg>
            </a>
          </div>
        </div>

        <%= text_field_tag :query,
          params[:query],
          class: "form-control form-product-field",
          placeholder: "Coca Cola or 049000028904"
        %>
      </div>
      <!-- ENDS PRODUCT FIELD -->

      <!-- STARTS ZIP CODE FIELD -->
      <div class="col-md-3 col-lg-2 form-zip">
        <label class="">Enter ZIP Code</label>
        <%= text_field_tag :zipcode,
          params[:zipcode], :required => true,
          class: "form-control form-zip-field",
          placeholder: "90210"
        %>
      </div>
      <!-- ENDS ZIP CODE FIELD -->

      <!-- STARTS BUTTON -->
      <div class="btn-home-search">
        <%= button_tag type: 'submit', class: "btn-filled" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-search btn-home-search-icon" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>Search
        <% end %>
        <%#<%= submit_tag "Search", class: "btn-filled" %>
      </div>
      <!-- ENDS BUTTON -->
    <% end %>
    <!-- ENDS FORM TAG -->
  </div>
  <!-- ENDS FORM STYLE -->
</div>

<div class="container text-center home-image">
  <%= cl_image_tag("recycle.svg") %>
</div>
<div class="container-fluid bg-darkgreen">
  <div class="container py-5 text-center">
    <h3 class="home-heading">Products by <span class="green-highlight">material type</span></h3>
  </div>
  <div class="container pb-5">
    <div class="cards">
      <%= link_to "#{search_by_material_products_path}?material=glass" do %>
        <div class="card-category card-darkershadow">
          <%= cl_image_tag("glass_svg.svg", width: 60) %>
          <p>Glass</p>
        </div>
      <% end %>

      <%= link_to "#{search_by_material_products_path}?material=metal" do %>
        <div class="card-category card-darkershadow">
          <%= cl_image_tag("metal.svg", width: 60) %>
          <p>Metal</p>
        </div>
      <% end %>

      <%= link_to "#{search_by_material_products_path}?material=paper" do %>
        <div class="card-category card-darkershadow">
          <%= cl_image_tag("paper_svg.svg", width: 60) %>
          <p>Paper</p>
        </div>
      <% end %>

      <%= link_to "#{search_by_material_products_path}?material=plastic" do %>
        <div class="card-category card-darkershadow">
          <%= cl_image_tag("plastic_svg.svg", width: 60) %>
          <p>Plastic</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
