<p> <%= @program_info[:description] %> </p>
<ul>
  <li>Hours: <%= @program_info[:hours] %></li>
  <li>Phone number: <%= @program_info[:phone] %></li>
  <li>Notes: <%= @program_info[:notes_public] %></li>
  <%# <li>Read more <%= link_to "here", @program_info[:url] %>
</ul>
