<div class="container py-5">
  <h3 class="py-5"> <%= @products.count %> relevant products </h3>
    <div class="py-5">
    <%= link_to "Back to home", root_path, class:"btn-terciary" %>
    <!-- <i class="fas fa-arrow-left"></i> -->
    </div>

  <div class="product-grid">
    <% @products.each do |product|%>
      <% if params[:zipcode].nil? %>
        <%= render "zipcode_modal", product: product %>
        <div class="card-product" data-toggle="modal" data-target="#ZipcodeModal<%= product.id %>">
          <%= cl_image_tag product.photo.key, crop: :fill %>
          <div class="wrap-info">
            <div class="product-description">
              <h6> <%= product.description %> </h6>
            </div>

            <div class="card-product-info ">
              <%= render "bookmarks/index_new", product: product %>
              <i class="fas fa-bookmark" data-toggle="modal" data-target="#exampleModal<%=product.id%>"></i>
            </div>
          </div>
        </div>
      <% else %>
        <div class="card-product" data-toggle="modal" data-target="#ZipcodeModal<%= product.id %>">
          <%= link_to product_path(product, zipcode: params[:zipcode]), class:"link-product" do %>
            <%= cl_image_tag product.photo.key, crop: :fill %>
            <div class="wrap-info">
              <div class="product-description">
                <h6> <%= product.description %> </h6>
              </div>
          <% end %>

              <div class="card-product-info ">
                <div class="btn-terciary">
                  <i class="fas fa-bookmark" data-toggle="modal" data-target="#exampleModal<%=product.id%>"></i>
                </div>
              </div>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
