<div class="container py-5">
  <h3 class="py-5"> <%= @products.count %> relevant products </h3>

  <div class="product-grid">
    <% @products.each do |product|%>

      <div class="card-product">

      <%= link_to product_path(product, zipcode: params[:zipcode]), class:"link-product" do %>
        <%= cl_image_tag product.photo.key, crop: :fill %>

        <div class="wrap-info">

          <div class="product-description">
            <h6> <%= product.description %> </h6>
          </div>
          <div class="card-product-info">
              <p>Curbside ✓</p>
                <i class="far fa-bookmark"></i>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

  <div class="py-5">
    <%= link_to "Back to home", root_path, class:"btn-terciary" %>
    <!-- <i class="fas fa-arrow-left"></i> -->
  </div>

</div>
