<div class="alert alert-info alert-dismissible fade show m-1 d-none" role="alert" id="flash-info">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="alert alert-warning alert-dismissible fade show m-1 d-none" role="alert" id="flash-alert">
  <%= alert %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="container py-5">
  <h3 class="py-5"> <%= pluralize @products.count, "relevant product" %></h3>

<%# 2. no zipcode and yes current_user > zipcode modal
3. yes zipcode and yes current_user > link_to and no zipcode modal %>
<%# 1. no zipcode and no current_user > alert and no zipcode modal %>

  <div class="product-grid">
    <% @products.each do |product|%>
        <%= render "zipcode_modal", product: product if current_user && params[:zipcode].nil? %>
        <div class="card-product" data-toggle="modal" data-target="#ZipcodeModal<%= product.id %>">
          <%= link_to product_path(product), class: "dark-green" do %>
            <%= cl_image_tag product.photo.key, crop: :fill %>
            <div class="wrap-info">
              <div class="product-description">
                <h6> <%= product.description %> </h6>
              </div>
          <% end %>

              <div class="card-product-info ">
                <% if current_user %>
                    <%= render "bookmarks/index_new", product: product %>
                    <i class="fas fa-bookmark" data-toggle="modal" data-target="#exampleModal<%=product.id%>"></i>
                <% else %>
                  <%= link_to bookmarks_alert_path do %>
                    <i class="fas fa-bookmark"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
        </div>
    <% end %>
  </div>

  <div class="py-5">
    <%= link_to "Back to home", root_path, class:"btn-terciary" %>
    <!-- <i class="fas fa-arrow-left"></i> -->
  </div>
</div>
