<div class="container py-5">
  <h3 class="py-5"> <%= @products.count %> relevant products </h3>
    <div class="py-4">
      <%= link_to "Back to home", root_path, class:"btn-terciary" %>
    </div>

  <div class="product-grid">
    <% @products.each do |product|%>
      <% if params[:zipcode].nil? %>
        <%= render "zipcode_modal", product: product %>
        <div class="card-product" data-toggle="modal" data-target="#ZipcodeModal<%= product.id %>">
            <%= cl_image_tag product.photo.key, crop: :fill %>
        <div class="wrap-info">
          <div class="product-description">
            <h6> <%= product.description %> </h6>
          </div>
      <% else %>
          <%= link_to product_path(product), class: "dark-green" do %>
            <%= cl_image_tag product.photo.key, crop: :fill %>
            <div class="wrap-info">
              <div class="product-description">
                <h6> <%= product.description %> </h6>
              </div>
          <% end %>
          <% end %>

              <div class="card-product-info ">
                <% if current_user %>
                    <%= render "bookmarks/index_new", product: product %>
                    <div class="btn-terciary">
                     <% if product.bookmarked?(current_user) %>
                        <i class="fas fa-bookmark" id="btn-bookmark<%=product.id%>" data-toggle="modal" data-target="#exampleModal<%=product.id%>"></i>
                     <% else %>
                      <i class="far fa-bookmark" id="btn-bookmark<%=product.id%>" data-toggle="modal" data-target="#exampleModal<%=product.id%>"></i>
                     <% end %>
                    </div>
                <% else %>
                  <%= link_to bookmarks_alert_path do %>
                    <i class="fas fa-bookmark"></i>
                  <% end %>
                </div>
              </div>
          </div>
      <% end %>
    </div>

  
</div>
</div>
