<h1> <%= @product.description %> <h2>
<p> <%= @product.UPC %></p>
<p> <%= @product.size %></p>
 <% @product.product_materials.each do |product|%>
  <li><%= product.material.description %> | <%= product.material.long_description %></li>
  <% end %>

<%= cl_image_tag @product.photo, height: 200, width: 250, crop: :fill, class: "card-img-top" %>

